<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>正向查询</h1>
<table border="2px">
    <tr>
        <th>ID</th>
        <th>性别</th>
        <th>邮箱</th>
        <th>地址</th>
        <th>生日</th>
        <th>姓名</th>
    </tr>
    {% for i in queryset %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.sex }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.address }}</td>
        <td>{{ i.birthday }}</td>
        <td>{{ i.author.name }}</td>
    </tr>
    {% endfor %}
</table>
<hr>
<table border="2px">
    <tr>
        <th>ID</th>
        <th>性别</th>
        <th>邮箱</th>
        <th>地址</th>
        <th>生日</th>
        <th>姓名</th>
    </tr>
    {% for i in queryset1 %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.sex }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.address }}</td>
        <td>{{ i.birthday }}</td>
        <td>{{ i.author__name }}</td>
    </tr>
    {% endfor %}
</table>
<hr>
<table border="2px">
    <tr>
        <th>ID</th>
        <th>性别</th>
        <th>邮箱</th>
        <th>地址</th>
        <th>生日</th>
        <th>姓名</th>
    </tr>
    <tr>
        <td>{{ obj.id }}</td>
        <td>{{ obj.sex }}</td>
        <td>{{ obj.email }}</td>
        <td>{{ obj.address }}</td>
        <td>{{ obj.birthday }}</td>
        <td>{{ obj.author__name }}</td>
    </tr>
</table>
<hr>
<h1>反向查询</h1>
<table border="2px">
    <tr>
        <th>ID</th>
        <th>性别</th>
        <th>邮箱</th>
        <th>地址</th>
        <th>生日</th>
        <th>姓名</th>
    </tr>
    {% for i in querysetf1 %}
    <tr>
        <td>{{ i.authordetail.id }}</td>
        <td>{{ i.authordetail.sex }}</td>
        <td>{{ i.authordetail.email }}</td>
        <td>{{ i.authordetail.address }}</td>
        <td>{{ i.authordetail.birthday }}</td>
        <td>{{ i.name }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>