<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#{{ obj }}#}
{#{{ obj1 }}#}
{#{{ obj2 }}#}
{#{{ obj3 }}#}
{{ id }}
{{ name }}
{{ obj2 }}
<hr>
<table border="2px">
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>类型</th>
        <th>邮箱</th>
        <th>地址</th>
    </tr>
    {% for i in queryset %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.user_type }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.address }}</td>
    </tr>
    {% endfor %}

    <tr>
        <td>{{ id }}</td>
        <td>{{ name }}</td>
        <td>{{ user_type }}</td>
        <td>{{ email }}</td>
        <td>{{ address }}</td>
    </tr>

    {% for i in obj1 %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.name }}</td>
    </tr>
    {% endfor %}

    {% for i in obj3 %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.user_type }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.address }}</td>
    </tr>
    {% endfor %}


</table>
</body>
</html>