<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="2px">
    <tr>
        <th>ID</th>
        <th>主机</th>
        <th>IP</th>
        <th>用户组</th>
    </tr>

    {# obj queryset 对象迭代取值 #}
    {% for i in obj %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.hostname }}</td>
        <td>{{ i.ip }}</td>
        <td>{{ i.user_group.caption }}</td>
    </tr>
    {% endfor %}

    {# obj1 字典对象直接取值 #}
    <tr>
        <td>{{ obj1.id }}</td>
        <td>{{ obj1.hostname }}</td>
        <td>{{ obj1.ip }}</td>
        <td>{{ obj1.user_group__caption }}</td>
    </tr>

    {# obj queryset 对象迭代取值 #}
    {% for i in obj2 %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.hostname }}</td>
        <td>{{ i.ip }}</td>
        <td>{{ i.user_group__caption }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>